.page {
  padding-top: 50px;
  padding-bottom: 80px;
}

.container {
  width: 1310px;
  margin: 0 auto;
}

.grid12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
}

.pageTitle {
  margin: 4px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}