.card {
  width: 320px;
  height: 419px;
  background: var(--color-white);
  border-radius: var(--radius-l);
  padding: 28px;
  box-sizing: border-box;
}

.cardTitleArea {
  height: 48px;
  display: flex;
  align-items: center;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-text-main);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardImage {
  margin-top: 20px;
  width: 264px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.cardPrice {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-text-main);
}

.cardActions {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.linkBtn {
  width: 39px;
  height: 39px;
  border-radius: 999px;
  border: 1px solid var(--color-border);
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-main);
}

.boughtBtn {
  height: 39px;
  border-radius: 999px;
  border: 1px solid var(--color-green);
  background: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: var(--color-green);
  font-family: var(--font-family-main);
}

.boughtBtnNarrow {
  width: 121px;
}

.boughtBtnWide {
  width: 170px;
}

.boughtText {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.boughtIcon {
  display: inline-flex;
  width: 14px;
  height: 14px;
}

.editBtn {
  width: 84px;
  height: 39px;
  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-main);
  font-family: var(--font-family-main);
}

.cardArchived .cardTitle,
.cardArchived .cardPrice {
  color: var(--color-text-secondary);
}

.cardActionsArchived {
  margin-top: 12px;
  display: flex;
}

.restoreBtn {
  width: 264px;
  height: 39px;

  border-radius: 999px;
  border: 1px solid var(--color-border);
  background: transparent;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-main);
  font-family: var(--font-family-main);
}

.linkBtn:hover {
  border-color: #333333;
}

.boughtBtn:hover {
  background: var(--color-green);
  color: #ffffff;
}

.boughtBtn:hover .boughtIcon {
  color: #ffffff;
}

.editBtn:hover {
  color: #5b5b5b;
}

.restoreBtn:hover {
  border-color: #333333;
  color: #333333;
}