.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(51, 51, 51, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  z-index: 1000;
}

.modalWindow {
  width: 650px;
  height: 760px;
  background: var(--color-white);
  border-radius: var(--radius-l);
  position: relative;
  overflow: hidden;
}

.modalWindowEdit {
  height: 826px;
}

.modalClose {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;

  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;

  color: var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}